html * {
    font-family:'Times New Roman' !important;
}

body section{
}

.row{
    --bs-gutter-x: 0rem !important;
}

.encabezado{
    display: flex;
    flex-direction: column;
    height: 15rem;
    background-color: rosybrown;
}

.encabezado_imagenperfil{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.encabezado_imagenperfil img{
    height: 80%;
}

.encabezado_bloqueTitulos{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bloqueinfo {
    padding: 2rem;
    border-bottom-width: .5px;
    border-color: gray;
    border-bottom-style: solid;
}

.bloqueinfo h4{
    color: red;
    margin-bottom: 1rem;
}

.bloqueinfo ul{
    padding-left: 2rem;
}

.bloqueinfo li{
    font-weight: bold;
}

.habilidades{
    font-weight: normal !important;
}