.contenedor {
  background-color: #000000;
}
.header-footer {
  background-color: #454648 !important;
}

.marco {
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  border: rgb(252, 252, 3) 2px groove;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 0px;
  margin-left: 0px;
}

.tables {
  width: 100%;
  background-color: #232324;
  height: 300px;
}

table.table-cinema {
  /* border: 4px solid rgb(252, 252, 3); */

  width: 100%;
  height: 200px;
  text-align: center;
  border-collapse: collapse;
}
table.table-cinema td,
table.table-cinema th {
  border: 4px solid #000000;
  padding: 1px 1px;
}
.td-color-activo {
  background-color: rgb(252, 252, 3);
}
.td-color-inactivo {
  background-color: #3d3a3a;
}
.cinema-text {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(252, 252, 3);
  width: 70px;
}
