body {
    color: #fff;
    background-color: #333;
}

.header {
    padding: 0.5rem 0;
    color: #fff;
    background-color: #100f0f;
}

.header__title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    text-align: center;
}

.screen {
    background-color: black;
    border: 5px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: white;
    height: 30vh;
    margin: 2rem auto;
    padding: 20px;
    width: 70%; 
}

.seats {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.seats__seat {
    width: 30px;
    height: 30px;
    margin-right: 5px;
    background-color: #ccc;
    border: 1px solid #999;
}

.seats__seat.--occupied {
    background-color: #ff0000;
}

.reservation {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px;
}

.reservation__label {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.reservation__input {
    font-size: 1rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-radius: 100px;
}

.reservation__btn {
    background-color: #007bff;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 100px;
}

.footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

.footer__text {
    margin: 5px 0;
}