:root{
  --fuenteHeading: 'PT Sans', 'sans-serif';
  --fuenteParrafos: 'Open Sans', 'sans-serif';

  --primario: #1c3859;
  --secundario: #abc274;
  --terceario: #62635d;
}
html{
  box-sizing: border-box;
  font-size: 62.5%;
}
body{
  font-family: var(--fuenteParrafos);
  font-size: 2rem;
}
a{
  text-decoration: none;
  color: var(--primario);
}
a:hover{
  text-decoration: underline;
}
.container{
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

.estudios{
  display: none;
}
.referencias{
  display: none;
} 

.header{
  display: flex;
  font-size: 1.6rem;
  background-color: var(--secundario);
  color: var(--primario);
  border-radius: 1.5rem;
  padding: 1rem;
  justify-content: center;
  align-items: center;
}
.header__datos{
  width: 90%;
  text-align: center;
}
.material-symbols-outlined{
  margin-right: 5px;
}
.header__thumbnail{
  width: 30%;
  margin-left: 30px;
}
.header__img{
  width: 100%;
  border-radius: .5rem;
}
.header__nombre{
  font-family: var(--fuenteHeading);
  text-align: center;
}
.dato{
  display: flex;
  align-items: center;
  line-height: .1rem;
}
.dato__icono{
  margin-right: 1rem;
}
.header__titulo{
  font-family: var(--fuenteHeading);
  text-align: right;
}
.complemento{
  background-color: var(--primario);
  font-size: var(--fuenteParrafos);
  width: 90%;
  margin: 0 auto;
  color: white;
  padding-top: .1rem;
  padding-bottom: .5rem;
}
.componente__titulo{
  font-family: var(--fuenteHeading);
  margin-left: 1rem;
}
.separador{
  width: 90%;
  margin: 0 auto;
}
.separador--color{
  height: .2rem;
  background-color: var(--primario)
}
.componente__texto{
  padding-left: 2rem;
}
.componente__lista{
  list-style: none;
  line-height: normal;
  margin-left: -1.5rem;
  padding-top: .5rem;
}
.laboral{
  padding: 1rem 0 1rem 0;
  border-bottom: .2rem dotted #1c3859; 
}
.laboral__tiempo{
  color: var(--terceario);
  font-weight: 600;
  border-radius: .5rem;
  margin: 1px;   
}
.laboral__lugar{
  text-align: center;
}
.laboral__cargo{
  color: var(--primario);
}
.laboral__tareas{
  line-height: normal;
  margin: 0;
}
.footer{
  background-color: var(--secundario);
  color: var(--primario);
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: .5rem;
}

