*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cv{
    display: flex;
    width: 40%;
    margin: 20px auto;
    justify-content: space-between;
}

.cv__leftSection{
    width: 55%;
}

h1{
    font-family: "Yellowtail", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 90px !important;
}

.leftSection__title{
    background-color: #F2EADF;
    text-align: center;
    border-radius: 20px;
    padding: 0.5rem;
}

.article__title{
    background-color: white;
    text-align: center;
    border-radius: 20px;
    padding: 0.5rem;
}

.leftSection__experienceCard > p:first-child{
    font-weight: bold;
}

.leftSection_tableLanguage{
    border-collapse: separate;
    border-spacing: 8px;
}

.row__progressBar{
    width: 100%;
}

.progress-bar{
    background-color: #BF9288 !important;
}

.progress-bar__espanol{
    width: 100%;
}

.progress-bar__english{
    width: 75%;
}

.progress-bar__french{
    width: 25%;
}

.cv__rightSection{
    background-color: #F2EADF;
    border-radius: 6rem;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 12px;
}

.rightSection__image{
    border-radius: 50%;
    border: 2px solid white;
    display: block;
    margin: 0 auto;
    width: 20vh;
    height: 20vh;
    object-fit: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.article__table{
    border-collapse: separate;
    border-spacing: 8px;
}

.row__icon{
    width: 20px;
}