body{
    background-color: black;
}

.card{
    background-color: rgb(48, 48, 48);
}
.cardb{
    background-color: rgb(101, 101, 101);
}

.cuadrado {
    width: 30px; 
    height: 30px; 
    border: 1px solid #e0e411;
}

.cuadradob {
    width: 30px; 
    height: 30px; 
    border: 1px solid #e0e411;
    background-color: #e0e411;
}

div {
    width: 80%;
    margin: 0 auto;
  }
h1, h6{
    color: white;
    font-family: Verdana, sans-serif;
}

p{
color: #bcbf1e;;
}

